<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>JB Portfolio Site</title>
    <link rel="shortcut icon" href="../public/media/img/OU_logo.jpg" type="image/jpg">
    <link rel="stylesheet" href="../public/css/styling_sheet.css">
    <script defer src="../public/js/trivia.js"></script>
    <script defer src="../public/js/comment.js"></script>
    <nav>
        <menu>
            <a href="/">Home Page</a>
            <a href="/resume">Resume Page</a>
            <a href="/fun_fact">Fun Facts Page</a>
            <a href="/blog">My Blog</a>
            <a href="/trivia">Trivia</a>
        </menu>
    </nav>
</head>
<body>
    <main>
        <h1 class="coolclass">Trivia Questions</h1>
        <div id="question" class="coolClass"></div>
            <br>
            <button id="submit">Get Results</button>
            <br><br>
            <h1 class="coolclass">Results</h1>
        <div class="coolClass" id="results">

        </div>

        <div class="container">
            <label for="comment" name="comment">Post a Comment</label>
            <br>
            <textarea id="comment"></textarea>
            <br>
            <button id="addComments">Add Comment</button>
            <div id="allComments"></div>
        </div>
        <script src="../public/js/comment.js"></script>
        <hr>
        <footer id="page_footer">
            Property of Johnathon Brunette &copy; 
        </footer>
    </main>
</body>
</html>