<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>JB Portfolio Site</title>
    <link rel="shortcut icon" href="../public/media/img/OU_logo.jpg" type="image/jpg">
    <link rel="stylesheet" href="../public/css/styling_sheet.css">
    <nav>
        <menu>
            <a href="/">Home Page</a>
            <a href="../views/resume">Resume Page</a>
            <a href="../views/fun_fact">Fun Facts Page</a>
            <a href="../views/blog">My Blog</a>
            <a href="../views/trivia">Trivia</a>
        </menu>
    </nav>
</head>
<body>
    <main>
        
        
        
        
        
        
        
        
        
        
        <hr>
        <footer id="page_footer">
            Property of Johnathon Brunette &copy; 
        </footer>
    </main>
</body>
</html>